In [1]:
x=1
type(x)

int

In [2]:
x=1.2
type(x)

float

In [3]:
b1=true
b2=false
type(b1)

NameError: name 'true' is not defined

In [4]:
b1=True
b2=False
type(b1)

bool

In [5]:
name="rakesh"
type(name)

str

In [6]:
x=1.0-2.0j
type(x)

complex

In [7]:
print(x)

(1-2j)

In [8]:
print(x.real,x.imag)

1.0 -2.0

In [10]:
ten=10
two=2
print(ten)
two

10

2

In [11]:
ten=10
ten

10

In [12]:
ten=10
two=2
print(ten)
two

10

2

In [13]:
ten='ten'
ten

'ten'

In [15]:
'Day '+1

TypeError: can only concatenate str (not "int") to str

In [16]:
'Day ' + 1

TypeError: can only concatenate str (not "int") to str

In [17]:
'Day'+str(1)

'Day1'

In [18]:
True and True

True

In [19]:
True or False

True

In [20]:
not True

False

In [21]:
not False

True

In [22]:
True is True

True

In [23]:
True is False

False

In [24]:
'a' is 'a'

True

In [25]:
i=3
if i<3:
    print('less then 3')
    elif i<5:
        print('less then 5')
        else:
            print("5 or more")

SyntaxError: invalid syntax (<ipython-input-25-1cf7ff450460>, line 4)

In [26]:
i=3
if i<3:
print('less then 3')
elif i<5:
    print('less then 5')
else:
    print('5 or more')

IndentationError: expected an indented block (<ipython-input-26-07f86565f86d>, line 3)

In [27]:
i=3
if i<3:
    print('less then 3')
elif i<5:
    print('less then 5')
else:
    print('5 or more')

less then 5

In [28]:
l=[]
l

[]

In [29]:
l=list[]
l

SyntaxError: invalid syntax (<ipython-input-29-f431b056fa0a>, line 1)

In [30]:
l=list()
l

[]

In [31]:
l=('a','b','c')
print(1)
type(1)

1

int

In [32]:
l=['a','b','c']
print(1)
type(1)

1

int

In [33]:
l = ['a', 'b', 'c']
print(l)
type(l)

['a', 'b', 'c']

list

In [34]:
l = ['a', 'b', 'c']
print(l)
type(l)

['a', 'b', 'c']

list

In [35]:
l = ['a',6]
l

['a', 6]

In [36]:
l2=list(l)
l2

['a', 6]

In [37]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [38]:
l=[1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
i.insert(1,55)
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

AttributeError: 'int' object has no attribute 'insert'

In [39]:
l = [1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(1, 56)
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

[1, 56, 2, 'b', 'c']

In [40]:
l = [1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(1, 55)
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

[1, 55, 2, 'b', 'c']

In [41]:
l = [1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(2, 56)
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

[1, 2, 56, 'b', 'c']

In [42]:
for i in l:
    print(i)

1
2
56
b
c

In [43]:
num=[1,5,6,7,8,9,2,3,4]
sum=0
for i in num:
    sum+=sum
print('the sum is',sum)
sum

the sum is 0

0

In [44]:
num=[1,5,6,7,8,9,2,3,4]
sum=0
for i in num:
    sum=+sum
print('the sum is',sum)
sum

the sum is 0

0

In [45]:
num=[1,5,6,7,8,9,2,3,4]
sum=0
for i in num:
    sum+=i
print('the sum is',sum)
sum

the sum is 45

45

In [46]:
dig=[1,2,3]
for i in dig:
    print(i)
else:
    print('no items left')

1
2
3
no items left

In [49]:
n=int(input('enter n'))
sum=0
i=1
while i<=n:
    sum+=i
    i=i+1
print('the sum is'sum)

SyntaxError: invalid syntax (<ipython-input-49-3327954dd495>, line 7)

In [50]:
n=int(input('enter n'))
sum=0
i=1
while i<=n:
    sum+=i
    i=i+1
print('the sum is',sum)

enter n6
the sum is 21

In [51]:
print(range(100))

range(0, 100)

In [52]:
print(range(10))

range(0, 10)

In [53]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
print(range(2,8))

range(2, 8)

In [55]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [56]:
print(list(range(2,100,5)))

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [57]:
genre=['pop','rock','class','jazz']
for i in range(len(genre)):
    print(genre[i])

pop
rock
class
jazz

In [58]:
for val in 'RAKESH':
    if val == 'E':
        break
    print(val)
print('end')

R
A
K
end

In [59]:
for val in 'RAKESH':
    if val == 'A':
        break
    print(val)
print('end')

R
end

In [60]:
for val in 'RAKESH':
    if val == 'E':
        continue
    print(val)
print('end')

R
A
K
S
H
end

In [61]:
for val in 'RAKESH':
    if val == 'C':
        break
    print(val)
print('end')

R
A
K
E
S
H
end

In [62]:
for val in 'RAKESH':
    if val == 'c':
        continue
    print(val)
print('end')

R
A
K
E
S
H
end

In [64]:
name=input('enter nam')
type(name)

enter namRakesh

str

In [65]:
age=int(input('enter age'))
print('your age',age)
type(age)

enter age21
your age 21

int

In [66]:
name = input("What is your name? ")
print (" It was nice talking you " + name + "!")
age = input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")

What is your name? Rakesh
 It was nice talking you Rakesh!
Enter your age? 15
Hey, you are already 15 years old, Rakesh!