In [1]:
%%writefile rakesh.txt
hello

Writing rakesh.txt

In [8]:
my_file=open('rakesh.txt')

In [9]:
my_file.read()

'hello \nsup bro'

In [10]:
my_file.read()

''

In [15]:
my_file.seek(0)

0

In [16]:
my_file.readlines()

['hello \n',
 'sup bro\n',
 'dsd\n',
 'sd\n',
 'sd\n',
 'sd\n',
 'sd\n',
 's\n',
 'ds\n',
 'ds\n',
 'dsd\n']

In [17]:
my_file.readlines()

[]

In [19]:
my_file=open('rakesh.txt','w+')

In [20]:
my_file.write('end of line')

11

In [21]:
my_file.seek(0)

0

In [22]:
my_file.readlines()

['end of line']

In [23]:
my_file.readlines()

[]

In [24]:
my_file=open('rakesh.txt')

In [25]:
my_file.readlines()

['end of line']

In [26]:
%%writefile 'txt.txt'

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [27]:
%%writefile 'txt.txt'
Hi hell
hello

Writing txt.txt

In [30]:
for i in open('txt.txt'):
    print(i)

Hi hell

hello

In [43]:
from io import StringIO

In [44]:
mess='HI'

In [45]:
s=StringIO(mess)

In [46]:
s.read()

'HI'

In [47]:
s.write('Second line')

11

In [48]:
s.seek(0)

0

In [49]:
s.read()

'HISecond line'

In [50]:
print ("Hello World"[::-1])

dlroW olleH

In [52]:
print (9//2)

4

In [54]:
class Person:
    pass

rakesh_m = Person()
rakesh_m.name = "Rakesh"
rakesh_m.surname = "M"
rakesh_m.year_of_birth = 1999


print(rakesh_m)
print("%s %s was born in %d." %
      (rakesh_m.name, rakesh_m.surname, rakesh_m.year_of_birth))

<__main__.Person object at 0x00000207AF6D7B20>
Rakesh M was born in 1999.

In [55]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [57]:
rakesh = Person("Rakesh", "M", 1999)
print(rakesh)
print("%s %s was born in %d"% (rakesh.name,rakesh.surname,rakesh.year_of_birth))

<__main__.Person object at 0x00000207AF6D7220>
Rakesh M was born in 1999

In [59]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Rakesh", "M", 1999)
print(alec)
print(alec.age(2020))

Rakesh M was born in 1999 .
21

In [60]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Rahul', 'Chet', 1999)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Rahul Chet was born in 1999 .
<class '__main__.Student'>
True
True

In [62]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(420, 'Rahul', 'chet', 1999)
print(charlie)

Rahul chet was born in 1999 . And has ID: 420

In [63]:
def summer(a, b):
    return a + b

print(summer(5, 5))
print(summer(["r", "a", "k"], ["e", "i"]))
print(summer("rahul", "chet"))

10
['r', 'a', 'k', 'e', 'i']
rahulchet